{% extends 'blog/baseB.html' %}
{% block content %}

<style>
    mark {
        color: red;
    }

    note {
        color: red;
    }

    .highlighted {
        background-color: yellow;
    }

    #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }


    .firsttable {
        height: 210px;
        background: #f2f2f2;
        width: 1000px;
        scrollbar-base-color: gold;
        font-family: sans-serif;
        padding: 20px;
        border: 1px solid #ddd;
    }

    .secondtable {
        height: 100%;
        width: 1000px;
        overflow: auto;
        scrollbar-base-color: gold;
        font-family: sans-serif;
    }
    .thirdtable {
        height: 90px;
        width: 1000px;
        overflow: auto;
        scrollbar-base-color: gold;
        font-family: sans-serif;
    }

    .tableFixHead {
        overflow-y: auto;
        height: 900px;
    }

        .tableFixHead thead th {
            position: -webkit-sticky;
            position: sticky;
            top: -1px;
            opacity: 1;
            z-index: 2
        }


    /* Just common table stuff. Really. */
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    #main-table tr.header, #main-table tr:hover {
        background-color: #bab5b5;
    }

    td {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
    }

    th {
        text-align: left;
        padding: 15px;
        background: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /*Show abstract*/
    .dropbtn {
        background-color: transparent;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin: 0 auto;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        width: 350px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #bab5b5;
    }

    #myInput {
        width: 100%;
        height: 40px;
        font-size: 16px;
        padding: 12px 0px 12px 5px;
        border: 1px solid #ddd;
    }

    .search {
        width: 100%;
        height: 40px;
        font-size: 16px;
        padding: 12px 0px 12px 5px;
        border: 1px solid #ddd;
    }
</style>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <table style="width:18%; height:100%">
                    <tr>
                        <th><b>Personal Keywords</b></th>
                    </tr>
                    <tr style="border: 1px solid #ddd;">
                        <td id="keywords_list">
                            <!--Filter by personal keywords:<br>
                            <div id="keyword-filters">
                            {% for keyword in user.profile.keywords_as_list %}
                            <input type="checkbox" id="filter-{{keyword}}" value="{{keyword}}" /> <label for="filter-{{keyword}}">{{keyword}}</label><br>
                            {% endfor %}
                        </div>
                            <input type="button" id="filter-button" value="Filter">-->

                    </tr>
                    <tr style="border: 0px solid #ddd; background:#f1f1f1">
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                    </tr>
                </table>


                <div class="col-sm-8">
                    <div class="firsttable">
                        <table style="width:100%; border:1px solid #f2f2f2;" align="left">
                            <tr>
                                <th>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Yes
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <p class="dropdown-item" id="yes_list"></p>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Maybe
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <p class="dropdown-item" id="maybe_list"></p>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th id='yes_num'> 0</th>
                                <th id='maybe_num'> 0 </th>
                            </tr>
                            <tr>
                                <th>
                                    <span type="button" id="showyes" onclick="change_show_or_hide_yes()">
                                        <div id="myyes" style="border: 1px solid black; background: #f2f2f2; text-align: center; font-size: 16px; color: black;">show yes</div>
                                    </span>
                                <th>
                                    <span type="button" id="showmaybe" onclick="change_show_or_hide_maybe()">
                                        <div id="mymaybe" style="border: 1px solid black; background: #f2f2f2; text-align: center; font-size: 16px; color: black;">show maybe</div>
                                    </span>
                                </th>
                                <th></th>
                                <th>
                                    <input id="save_button" type="submit" name="_Save" value="Save" onclick="changes_saved()"><note>click save!</note>
                                </th>
                            </tr>
                        </table>
                    </div>

                    <div class="thirdtable">
                        <table style="width:100%; border:1px solid #f2f2f2;" align="left">
                            <tr>
                                <td>
                                    Filter abstract:<br>
                                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter by word..." title="Type in a name">
                                </td>
                                <td>
                                    Filter keywords/title:<input type="search" class="form-control search" placeholder="Filter by word..." />
                                </td>
                            </tr>
                        </table>
                    </div>



                    <div class="secondtable">
                        <div class="tableFixHead">
                            <table cellspacing="0" cellpadding="1" border="1" id="main-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th width="10px">Choice</th>
                                        <th>Paper ID</th>
                                        <th>Title</th>
                                        <th width="20%">Abstract</th>
                                        <th>Keywords</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for essay in list %}
                                    <tr id="tr {{ essay.id }}">
                                        <td width="250">
                                            <fieldset>
                                                <input type="radio" name="decision {{ essay.id }}" id="yes {{ essay.id }}" value="yes" onchange="yes_action({{ essay.id }})"> yes <br>
                                                <input type="radio" name="decision {{ essay.id }}" id="maybe {{ essay.id }}" value="maybe" onchange="maybe_action({{ essay.id }})"> maybe<br>
                                                <input type="radio" name="decision {{ essay.id }}" id="no {{ essay.id }}" value="no" onchange="no_action({{ essay.id }})" CHECKED> no
                                            </fieldset>
                                        </td>
                                        <td width="8">#{{ essay.id }}</td>
                                        <td width="350" class="keywords">
                                            <span class="keyword">
                                                {{essay.name}}
                                            </span>
                                        </td>
                                        <td width="1400" class="keywords">
                                            <div class="dropdown">
                                                <button class="dropbtn">Show abstract</button>
                                                <div class="dropdown-content">
                                                    <p><b>abstract:</b> {{essay.abstract}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td width="200" class="keywords">
                                            <span class="keyword">
                                                {% for keyword in essay.keywords %}
                                                {{ keyword }},
                                                {% endfor %}
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <textarea hidden id="log" name="log" rows="100" cols="40"> {{ user }}
                                                time, value, essay_id
                            </textarea>
                    </div>
                </div>
            </div>
        </div>

        <!--save note side the save button-part1-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        <div id="snackbar">Thank you. Your changes have been saved!</div>
        <script>
            //save note side the save button-part2
            $(document).ready(function () {
                $("#save_button").click(function () {
                    $("note").hide();
                });
            });
        </script>

        <script>
            //after saved changes popup snackbar
            function changes_saved() {
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            //filter from check box
            $("#filter-button").on("click", function (e) {
                // Show all rows (in case any were hidden by a previous filtering)
                $("#main-table > tr:hidden, #main-table > tbody > tr:hidden").show();
                // Get all filtered countries as array
                var selCountries = $("#keyword-filters :checkbox:checked").map(function () {
                    return $(this).val();
                }).get();
                if (selCountries.length < 1) {
                    return; // No countries are selected!
                }
                var selCties = $("#city-filters :checkbox:checked").map(function () {
                    return $(this).val();
                }).get();
                // Loop through all table rows
                var x = $("#main-table > tr, #main-table > tbody > tr").filter(function (idx, ele) {
                    var countries = $(ele).find('td.keywords span.keyword');
                    var nFoundCountries = selCountries.filter(function (ele, idx) {
                        return countries.text().indexOf(ele) != -1;
                    }).length;
                    if (selCties.length == 0) {
                        return (nFoundCountries == 0);
                    } else {
                        var cities = $(ele).find('td.city');
                        var nFoundCities = selCties.filter(function (ele, idx) {
                            return cities.text().indexOf(ele) != -1;
                        }).length;

                        return !(nFoundCities == selCties.length &&
                            (nFoundCountries == countries.length && nFoundCountries == selCountries.length));
                    }
                }).hide();
            });
        </script>

        <script>
            //filter by word
            function

                myFunction() {
                var input, filter, table, tr, td, cell, i, j;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("main-table");
                tr = table.getElementsByTagName("tr");
                for (i = 1; i < tr.length; i++) {
                    // Hide the row initially.
                    tr[i].style.display = "none";

                    td = tr[i].getElementsByTagName("td");
                    for (var j = 0; j < td.length; j++) {
                        cell = tr[i].getElementsByTagName("td")[j];
                        if (cell) {
                            if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                                break;
                            }
                        }
                    }
                }
            }

        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            //filter keyword/title and highlitening
            $(".search").keyup(function () {

                var rows = $("#main-table").find("tbody tr");

                //Filter the jquery object to get results.
                if (this.value.length > 0) {
                    //First hide all an remove class used to identify matched rows
                    rows.removeClass("match").hide().filter(function () {
                        var match = false;
                        $(this).find("td.keywords span.keyword").each(function () {
                            var indexOf = $(this).text().toLowerCase().indexOf($(".search").val().toLowerCase());
                            //Check with indexOf if this row cell include search string
                            if (indexOf !== -1) {
                                match = true;
                                return;
                            }
                        });
                        return match;
                    }).addClass("match").show();
                } else {
                    //If filter not provided show all
                    rows.removeClass("match").show().find("mark").contents().unwrap();
                }

                highlight(this.value);
            })

            var highlight = function (string) {
                $("#main-table").find("tbody tr.match td.keywords span.keyword").each(function () {

                    if ($(this).text().indexOf(string) === -1)
                        return;

                    var matchStartIndex = $(this).text().toLowerCase().indexOf(string.toLowerCase());
                    var matchEndIndex = matchStartIndex + string.length - 1;

                    var beforeMatch = $(this).text().slice(0, matchStartIndex);
                    var matchText = $(this).text().slice(matchStartIndex, matchEndIndex + 1);
                    var afterMatch = $(this).text().slice(matchEndIndex + 1);

                    //Here set selected text to e.g. bold style
                    $(this).html(beforeMatch + "<mark>" + matchText + "</mark>" + afterMatch);
                });
            };

        </script>


        <script>
            function change_show_or_hide_yes() {
                var x = document.getElementById("myyes");
                if (x.innerHTML === "show yes") {
                    x.innerHTML = "hide yes";
                } else {
                    x.innerHTML = "show yes";
                }
            }
        </script>

        <script>
            function change_show_or_hide_maybe() {
                var x = document.getElementById("mymaybe");
                if (x.innerHTML === "show maybe") {
                    x.innerHTML = "hide maybe";
                } else {
                    x.innerHTML = "show maybe";
                }
            }
        </script>

        <script>
        window.onload = function WindowLoad(event) {
            document.getElementById('keywords_list').innerHTML = "{{ user.profile.keywords }}".replace(/,/gi,"<br>");
            init_state = "{{ user.profile.state }}" ;
            for (var x = 0; x < init_state.length; x++) {
                var c = init_state.charAt(x);

                if(c=='1'){
                    document.getElementById('maybe ' + x).click();
                }
                if (c=='2'){
                    document.getElementById('yes ' + x).click();
                }

            }
        };

        var yes_list = [];
        var maybe_list = [];
        var index = 0;
        function update() {
            text_yes = '';
            text_maybe = '';
            for(var i=0; i<yes_list.length;i++){
                text_yes = (text_yes + '#' + yes_list[i]+ '<br>')
            }
            for(var i=0; i<maybe_list.length;i++){
                text_maybe = (text_maybe + '#' + maybe_list[i]+ '<br>')
            }
            document.getElementById('maybe_list').innerHTML = text_maybe;
            document.getElementById('yes_list').innerHTML = text_yes;
            document.getElementById('yes_num').innerHTML = ('yes bids: ' + yes_list.length);
            document.getElementById('maybe_num').innerHTML = ('maybe bids: ' + maybe_list.length);
        }

        function yes_action(id) {
            yes_list.push(id);
            index = maybe_list.indexOf(id);
            if (index > -1) {
                maybe_list.splice(index, 1);
            }
            var d = new Date();
            var n = d.getTime();
            document.getElementById('log').value += n + ", 1, " + id + " \\\n";
            update();
            document.getElementById("tr " + id).style.display = 'none';

            $("#showyes").click(function () {
                var x = document.getElementById("tr " + id);
                if (x.style.display === 'none') {
                    x.style.display = 'table-row';
                } else {
                    x.style.display = 'none';
                }
            });
        }

        function no_action(id) {
            index = maybe_list.indexOf(id);
            if (index > -1) {
            maybe_list.splice(index, 1);
            }
            index = yes_list.indexOf(id);
            if (index > -1) {
                yes_list.splice(index, 1);
            }
            var d = new Date();
            var n = d.getTime();
            document.getElementById('log').value += n + ", 0," + id + " \\\n";
            update();
        }

        function maybe_action(id) {
            maybe_list.push(id);
            index = yes_list.indexOf(id);
            if (index > -1) {
                yes_list.splice(index, 1);
            }
            var d = new Date();
            var n = d.getTime();
            document.getElementById('log').value += n + ", 0," + id + " \\\n";
            update();
            document.getElementById("tr " + id).style.display = 'none';
            $("#showmaybe").click(function () {
                var x = document.getElementById("tr " + id);
                if (x.style.display === 'none') {
                    x.style.display = 'table-row';
                } else {
                    x.style.display = 'none';
                }
            });
        }

        </script>
    </form>
</body>
{% endblock content %}
