
    <h6 style="font-size:22px; margin-left:500px;">Informed Consent Form</h6>    
<p style="font-size:20px; margin-left:500px;">
        Title of Research: <b>Bidding on paper reviews</b><br />
        <br />
        Principle Investigator: Reshef Meir, IE&M, Technion <br />
        Dear Participant, <br />
        <br />
        <b>The study is about: </b>Bidding on papers for peer review <br />
        <br />
        <b>You will be asked to: </b>log in to a designated website, and mark a set of papers to <br />
        “review" by following instructions. You will <b>not </b> be required to read or review these <br />
        papers.<br />
        <br />
        <b>Risks and benefits: </b>there are no risks involved. <br />
        <b>Compensation:</b><br />
        <br />
        When logging in, you will receive a list of keywords, and information on available <br />
        papers. Your payment will be determined by the set of papers you will be allocated  <br />
        (which may not coincide with the papers you mark), and how many keywords they<br />
        contain.<br />
        <br />
        <b>Your answers will be confidential: </b>The records of this study will be kept private. In  <br />
        any sort of report we make public we will not include any information that will make  <br />
        it possible to identify you without your explicit consent. Research records will be   <br />
        kept in a locked file; only the researchers will have access to the records.<br />
        <br />
        <b>Taking part is voluntary: </b>Taking part in this study is completely voluntary. If you  <br />
        decide to take part, you are free to withdraw at any time. You are free to perform all  <br />
        or some or none of the tasks you will be assigned. However full payment requires <br />
        successful completion of tasks. <br />
        <br />
        <b>If you have questions: </b>you may contact Reshef Meir: reshefm@ie.technion.ac.il <br />
        <br />
        <b>Statement of Consent: </b>I have read the above information, and have received <br />
        answers to any questions I asked. I consent to take part in the study. <br />
    </p>
<br />
<button style="width: 300px;
        height: 50px; background: #6c757d;
        text-align: center; font-size: 25px; margin-left:750px; color:black;" onclick="backtoconfirm()">
     back to confirm
</button>
<br />
<br />

<script>
    function backtoconfirm() {
        window.close()
    }
</script>



