<p dir="rtl" style="font-size:24px; margin-right:500px;">
    שם המחקר: <b>Bidding on paper reviews</b> <br />
    <br />
    שמות החוקרים (חברי סגל): רשף מאיר, הנדסת תעשיה וניהול, טכניון <br />
    <br />
    <b>טופס הסכמה מדעת להשתתפות במחקר</b> <br />
    <br />
    אני החתום/ה מטה מצהיר/ה בזאת כי אני מסכים/ה להשתתף במחקר זה כמפורט בתנאים <br />
    הבאים: <br />
    אני מצהיר בזאת כי הוסבר לי שמטרת המחקר הינה לבדוק התנהגות במערכת הקצאת  <br />
    מאמרים לביקורת עמיתים. <br />
    <br />
    ידוע לי כי במסגרת המחקר אתבקש להכנס לאתר יעודי ולסמן מספר מאמרים. לאחר מכן  <br />
    יוקצה לי אוסף מאמרים, באופן שיושפע מהמאמרים שסימנתי.  <br />
    <br />
    ידוע לי שהשתתפות במחקר תזכה אותי בתשלום בין 1 ל 20₪, כתלות באוסף המאמרים  <br />
    שיוקצו לי. ברור לי שמדובר בסימולציה בלבד ושלא אתבקש לקרוא את המאמרים או לכתוב  <br />
    עליהם ביקורת.  <br />
    <br />
    <br />
    מובטחת לי סודיות באשר לזהותי האישית. <br />
    <br />
    ידוע לי שהשתתפותי במחקר הינה בהתנדבות, ושאני חופשי/ה לבחור שלא להשתתף  <br />
    במחקר ואני חופשי/ה להפסיק בכל עת את השתתפותי בניסוי מבלי לספק סיבה ומבלי  <br />
    שזכויותיי ייפגעו. <br />
    אני מצהיר/ה כי ניתנה לי האפשרות לשקול את המידע לעיל לגבי המחקר, לשאול שאלות  <br />
    לגביו, ולקבל עבורן תשובות לשביעות רצוני.  <br />
    <br />
    ידוע לי כי המחקר נערך על ידי רשף מאיר ואני רשאי/ת לפנות אליה בשאלות הנוגעות  <br />
    באמצעות מייל ל: reshefm@ie.technion.ac.il<br />
</p>
<br />
<button style="width: 300px;
        height: 50px; background: #6c757d;
        text-align: center; font-size: 25px; margin-left:750px; color:black;" onclick="backtoconfirm()">
    חזרה לאישור
</button>
<br />
<br />

<script>
    function backtoconfirm() {
        window.close()
    }
</script>



